<h1>picatsize Module</h1>

<h2>Description</h2>

<p>PicAtSize is an Android module that lets you take a &quot;<em>PIC</em>&amp;#65279;ture <em>AT</em> a <em>SIZE</em>&quot; you specify. </p>

<h2>How to use:</h2>

<p>See the main README file and the example application for usage info.</p>

<h2>Author</h2>

<p>@skypanther</p>

<h2>License</h2>

<p>Apache License, Version 2.0</p>